CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.idea/
IZ1
IZ1.cbp
googletest-build/
googletest-download/
googletest-src/
test/add_word_tests
test/create_string_tests
test/multiply_word_tests
test/print_reverse_tests
test/read_to_strings_tests
